.breadcrumbs {
    display: flex;
    position: relative;
    margin-bottom: 33px;
    font-size: 14px;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }

    .item {
        position: relative;
        margin-right: 14px;
        color: #000;
        text-decoration: none;
        line-height: 16px;

        @media (max-width: 768px) {
            font-size: 16px;

        }

        &:after {
            content: '/';
            position: absolute;
            right: -10px;
            color: forestgreen;
        }

        &:last-child:after {
            content: none;
        }
    }
}