.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .inner {
        display: inline-flex;
        box-shadow: 0 0 20px -10px #96AAB4;
        border-radius: 25px;
    }

    .item {
        font-size: 16px;
        padding: 12px 19px;

        @media (max-width: 768px) {
            padding: 12px 17px;
        }

        &:hover {
            background-color: #F0F0F0;
        }

        &.active {
            color: #fff;
            font-weight: 700;
            background-color: #601DC0;
        }
    }

    .arrow-back,
    .arrow-next {
        padding: 13px 30px;

        @media (max-width: 768px) {
            padding: 13px 26px;
        }
    }

    .arrow-back {
        background: url(../images/pagination-arrow-previous.svg) no-repeat center;
    }

    .arrow-next {
        background: url(../images/pagination-arrow-next.svg) no-repeat center;
    }
}