@font-face {
    font-family: "HelveticaRegular";
    src: url("fonts/HelveticaRegular.eot");
    src: url("fonts/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/HelveticaRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}