@import "../scss/fonts";

body {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 65px;
    margin: 0;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.hidden-mobile {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.hidden-desktop {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.d-flex {
    display: flex;
}

.wrapper {
    width: 100%;
    max-width: 919px;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 0 15px;
        box-sizing: border-box;

    }

    h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
    }

    &-row {
        display: flex;

        @media (max-width: 768px) {
            display: block;
        }
    }
}

.button {
    border: 2px solid rgba(96, 29, 192, 0.16);
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    background-color: transparent;
    color: #601DC0;
}

a {
    text-decoration: none;
    color: #000;
}

aside {
    width: 200px;
    margin-right: 40px;

    h3 {
        margin: 2px 0 13px 0;
    }
}

main {
    flex: 1;
}

@import "../scss/components/contest/header";

@import "../scss/components/contest/right-menu";

@import "../scss/components/contest/search";

@import "../scss/components/contest/breadcrumbs";

@import "../scss/components/contest/competitions";

@import "../scss/components/contest/top-users";

@import "../scss/components/contest/user-info";

@import "../scss/components/contest/cur-competitions";

@import "../scss/components/contest/competition-header";

@import "../scss/components/contest/forecast-competition";

@import "../scss/components/contest/competition-details";

@import "../scss/components/contest/competition-description";

@import "../scss/components/contest/forecast-tabs";

@import "../scss/components/contest/forecast-table";

@import "../scss/components/contest/more-matches";

@import "../scss/components/contest/pagination";

@import "../scss/components/contest/promo";

@import "../scss/components/contest/stat-trend";

@import "../scss/components/contest/statistic-trends";

@import "../scss/components/contest/more-statistics";

@import "../scss/components/contest/comp-news";

@import "../scss/components/contest/competition-news";

@import "../scss/components/contest/comments-section";

@import "../scss/components/contest/sport-list";

@import "../scss/components/contest/about-us-section";

@import "../scss/components/contest/partners";







.footer-logo {
    margin-bottom: 26px;
}

.footer-info {
    display: flex;
    margin-bottom: 15px;

    @media (max-width: 768px) {
        display: block;
        font-size: 14px;
    }

    .footer-text {
        flex: 1;
        margin-right: 80px;
        line-height: 22px;

        @media (max-width: 768px) {
            margin-right: 0;

        }

        a {
            color: #20A94A;
        }
    }

    .footer-text-mobile {

        @media (max-width: 768px) {
            margin: 25px 0 30px;
        }
    }

    .management {
        margin-bottom: 15px;
    }

    .footer-contacts {
        flex: 1;
        line-height: 26px;

        .title {
            color: #999;
            margin-right: 15px;
            min-width: 43px;
        }

        .contacts {

            display: flex;
            flex-direction: column;

            .item {
                display: flex;
            }
        }

        .post {

            span {
                color: #999;
            }
        }
    }

}

.footer-license {
    margin-bottom: 25px;
    line-height: 22px;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    a {
        color: #20A94A;
    }
}

.footer-partners {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 19px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        margin-bottom: 41px;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: #D5D5D5;
            left: 0;
            right: 0;
            bottom: -12px;
        }
    }

    a {
        @media (max-width: 768px) {
            margin-bottom: 20px;

        }
    }
}

.footer-rights {
    display: flex;

    @media (max-width: 768px) {
        font-size: 14px;
    }

    .age {
        margin-right: 13px;
    }
}
