.products {
    position: relative;
    margin-bottom: 60px;

    .item {
        align-items: center;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #fff;
        padding: 35px 13px;
        border-radius: 8px;

        img {
            margin-bottom: 10px;
        }

        .title {
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: #601DC0;
        }
    }

    .splide__arrow {
        background: #fff url("../../images/products-slider-arrow.svg") no-repeat center;
        width: 28px;
        height: 28px;
        opacity: 1;
        border: 1px solid #c4c4c4;

        &:disabled {
            display: none;
        }

        svg {
            display: none;
        }
    }

    .splide__arrow--prev {
        left: -14px;
        transform: translateY(-50%) rotate(180deg);
    }

    .splide__arrow--next {
        right: -14px;
    }

    .splide {
        @media (max-width: 768px) {
            visibility: visible;

            .splide__list {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            }

            .splide__slide {
                width: calc(50% - 7.5px);
                margin-right: 15px;
                margin-bottom: 15px;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }
}