@import "../scss/fonts";
@import "../scss/nullstyles";

body {
    background-color: #e5e5e5;
    font-family: "HelveticaRegular", sans-serif;
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 50px;

    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 30px;
    }
}

h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 17px;
}

.hidden-desktop {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.hidden-mobile {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.wrapper {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;

    h1, .h1 {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 39px;

        span {
            color: #601DC0;
        }
    }
}

@import "../scss/components/header";

@import "../scss/components/about/breadcrumbs";

@import "../scss/components/about/brief-info";

@import "../scss/components/about/slogan";

@import "../scss/components/about/about-us";

@import "../scss/components/about/certificate-info";

@import "../scss/components/about/products";

@import "../scss/components/about/team";

@import "../scss/components/about/all-vacacies";

@import "../scss/components/about/vacancies";

@import "../scss/components/about/office";

@import "../scss/components/about/map";









