.certificate-info {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 63px;

    img {
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 30px;
        border-radius: 0;
        margin: 0 -15px 40px;
    }
}